.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $second-bg-color;

  &__wrapper {
    display: flex;
    align-items: baseline;
  }

  &__left {
    width: 231px;
    margin-right: 70px;
  }
}
@import "./footer-logo";
@import "./footer-address";
@import "./footer-social";
@import "./footer-subscribe";
