.logo-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: $accent-color;
  font-family: $logo-font;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo__text--color {
  color: $primery-black-color;
}
