.header-connect {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-connect__item {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-connect__item:last-child {
  margin-right: 0;
}

.header-connect__link {
  display: flex;
  align-items: center;
  color: $text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: $timing-duration;
  transition-timing-function: $timing-fanction;
}

.header-connect__link:hover,
.header-connect__link:focus {
  color: $accent-color;
}

.header-connect__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-connect__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
